<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
<hr>
<p>Written by: {{book.author}}</p>
<p>Summary: {{book.description}}</p>
<p>Rating: {{book.rating}}/10</p>
<hr>
<a href="/books">Back</a>
</body>
</html>